extends ../layout

block content
  h1= title
  table
    tr
      th Name
      th Email
      th Created on:
      th Modified on:
    //- A row for each user
    each user in users
      tr
        td: a(href="/users/#{user.id}") #{user.name}
        td= user.email
        td= moment(user.createdOn).format('lll')
        td= moment(user.modifiedOn).format('lll')
